.item {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 5px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.green {
  background-color: #6fd26f;
}

.red {
  background-color: #de4949;
}
